{% load event_tag %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据泄露</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="/static/dist/css/main.css">
    <link rel="stylesheet" href="/static/dist/css/radar.css">
    <style>
      .treeview-menu {
           /*display: inherit !important; */
      }
    </style>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="index.html" class="logo">
          <span class="logo-lg">数据泄露检测</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Messages: style can be found in dropdown.less-->

              <li class="dropdown messages-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 4 messages</li>
                  <li>
                    <!-- inner menu: contains the messages -->
                    <ul class="menu">
                      <li><!-- start message -->
                        <a href="#">
                          <div class="pull-left">
                            <!-- User Image -->
                            <img src="{{ request.user.mugshot.url }}" class="img-circle" alt="User Image">
                          </div>
                          <!-- Message title and timestamp -->
                          <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                          </h4>
                          <!-- The message -->
                          <p>Why not buy a new awesome theme?</p>
                        </a>
                      </li><!-- end message -->
                    </ul><!-- /.menu -->
                  </li>
                  <li class="footer"><a href="#">See All Messages</a></li>
                </ul>
              </li><!-- /.messages-menu -->

              <!-- Notifications Menu -->
              <li class="dropdown notifications-menu">
                <!-- Menu toggle button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-bell-o"></i>
                  <span class="label label-warning">10</span>
                </a>
                <ul class="dropdown-menu">
                  <li class="header">You have 10 notifications</li>
                  <li>
                    <!-- Inner Menu: contains the notifications -->
                    <ul class="menu">
                      <li><!-- start notification -->
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> 5 new members joined today
                        </a>
                      </li><!-- end notification -->
                    </ul>
                  </li>
                  <li class="footer"><a href="#">View all</a></li>
                </ul>
              </li>

              <!-- User Account Menu -->


              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="{{ request.user.mugshot.url }}" class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs">{{ request.user.username }}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="{{ request.user.mugshot.url }}" class="img-circle" alt="User Image">
                    <p>
                      {{ request.user.username }} - {{ request.user | shenfen }}
                      <small>{{ request.user.date_joined }}</small>
                    </p>
                  </li>
                  <!-- Menu Body -->
                  <li class="user-body">
                    <div class="col-xs-4 text-center">
                      <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                      <a href="#">Sales</a>
                    </div>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>
       <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu" id="head_ul">
            <li class="header"></li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active" data-name="index" name="ref">
              <a><i class="fa fa-link"></i> <span>预警</span></a>
            </li>
            <li class="treeview">
              <a class="a-tree"><i class="fa fa-link"></i><span>数据泄露监控</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu" name="u-tree">
                <li data-name="pages-data-decetion" name="ref">
                  <a>
                    <i class="fa fa-circle-o"></i>数据检测
                  </a>
                </li>
                <li data-name="pages-data-stealing" name="ref">
                  <a>
                    <i class="fa fa-circle-o"></i>窃取行为
                  </a>
                </li>
                <li name="ref">
                  <a>
                    <i class="fa fa-circle-o"></i>爬虫行为
                  </a>
                </li>
                <li name="ref">
                  <a>
                    <i class="fa fa-circle-o"></i>数据留存
                  </a>
                </li>
              </ul>
            </li>
            <li data-name="pages-report" name="ref">
              <a>
                <i class="fa fa-link"></i><span>报表管理</span>
              </a>
            </li>
            <li>
              <a href="#"><i class="fa fa-link"></i> <span>策略管理</span></a>
            </li >
            <li data-name="pages-logs" name="ref">
              <a><i class="fa fa-link"></i> <span>系统日志</span></a>
            </li>
            <li class="treeview">
              <a class="a-tree"><i class="fa fa-link"></i><span>系统设置</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu" name='u-tree'>
                <li data-name='pages-system-netset' name="ref">
                  <a>
                    <i class="fa fa-circle-o"></i>网络管理
                  </a>
                </li>
                <li data-name='pages-system-users' name="ref">
                  <a>
                    <i class="fa fa-circle-o"></i>用户管理
                  </a>
                </li>
                <li data-name='pages-system-config' name="ref">
                  <a>
                    <i class="fa fa-circle-o"></i>系统工具
                  </a>
                </li>
              </ul>
            </li>
          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>
      <!-- Content Wrapper. Contains page content -->
      <div id="content" class="content-wrapper"></div>
    </div><!-- ./wrapper -->
    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="dist/js/echarts.js"></script> -->
    <!-- <script src="dist/js/app.js"></script> -->
  </body>
  <script>
    $(".treeview").children().find('.treeview-menu').hide();
    $(".a-tree").click(function(event) {
      if($(this).find('i').eq(1).hasClass('fa-angle-left')){
         $(this).next('.treeview-menu').slideDown();
         $(this).find('i').eq(1).removeClass('fa-angle-left').addClass('fa-angle-down');
      }else if($(this).find('i').eq(1).hasClass('fa-angle-down')){
         $(this).next('.treeview-menu').slideUp();
         $(this).find('i').eq(1).removeClass('fa-angle-down').addClass('fa-angle-left');
      }
    });

    $.ajax({
          url: "/warning/",
          ype:"get",
          dataType:"html",
          data: "",
          success:function(msg){
              $("#content").html(msg);
          }
    })
    $("li[name=ref]").click(function(event) {
      var data=$(this).data('name');
      re = new RegExp("-", "g");
      var new_data=data.replace(re,'/');

      $('ul[name=u-tree]').each(function() {
        $('ul[name=u-tree]').find('li').removeClass('active');
      });
      $(this).parents('li').siblings().removeClass('active');
      $(this).parents('li').addClass('active');
      $(this).addClass('active');
      $(this).siblings().removeClass('active');

      console.log(new_data);
      $.ajax({
        url: new_data+".html",
            ype:"get",
            dataType:"html",
            data: "",
            success:function(msg){
                $("#content").html(msg);
            }
        })
    });
  </script>
</html>
