{% load event_tag %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据泄露</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- <meta http-equiv="Cache-Control" content="max-age=7200" /> -->
    <!--
    <link rel="stylesheet" href="/static/plugins/datatables/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/plugins/datatables/dataTables.bootstrap.css">
    -->
    <script type="text/javascript" language="javascript" src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="/static/plugins/datatables/jquery.dataTables.min.css">

    <style>
      body{
        min-height: 100%;
        background-color: #ecf0f5;
        z-index: 800;
      }
    </style>
  </head>
  <body>
    <!-- Content Wrapper. Contains page content -->
     <div class="">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
         预警
          <!-- <small>Control panel</small> -->
        </h1>

      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-6 connectedSortable">
            <!-- 当前预警 -->
            <div class="box box-danger">
              <div class="box-header with-border">
                <i class="fa fa-warning"></i>
                <h3 class="box-title">当前预警</h3>
              </div><!-- /.box-header -->
              <div class="box-body">
<!-- 告警的四种样式查看 -->
                  {% block gaojing %}
                    {% for data in datas %}
                        {{ data | data2html | safe }}
                    {% endfor %}
                  {% endblock %}
              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </section><!-- /.Left col -->
          <!-- right col (We are only adding the ID to make the widgets sortable)-->
          <section class="col-lg-6 connectedSortable">
            <!-- 历史记录 -->
            <div class="box box-success">
              <div class="box-header with-border">
                <i class="fa fa-inbox"></i>
                <h3 class="box-title">预警历史记录</h3>
              </div><!-- /.box-header -->
              <div class="box-body">

                <table id="logs" class="logs">
                  <thead>
					<tr id="origin_tr">

					</tr>
				</thead>

                </table>

              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </section><!-- right col -->
        </div><!-- /.row (main row) -->

      </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    <!--
    <script src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/plugins/datatables/dataTables.bootstrap.min.js"></script>
    -->
  </body>
  <script>
   // 不需要 Ajax 跳转
    /**
  $("button[name=sign]").click(function(event) {
    $.ajax({
        url: "/warning_detail/",
        ype:"get",
        dataType:"html",
        data: "",
        success:function(msg){
            $("#content").html(msg);
        }
    })
  });
**/

  // 往 datatables 里面传递参数
      /*var arr=[
              ["2017/08/21","交通","192.168.36.3","192.36.53.98","445"],
              ["2017/09/08","交通","192.5.6.3","192.5.3.6","223"],
              ["2017/09/10","交通","187.23.45.6","136.3.6.9","8808"],
              ["2017/08/11","交通","192.168.0.1","187.23.45.6","443"],
              ["2017/09/12","交通","192.168.0.1","187.23.45.6","112"],
              ["2017/09/13","交通","192.168.0.1","187.23.45.6","556"],
              ["2017/09/14","交通","192.168.0.1","187.23.45.6","224"],
              ["2017/09/15","交通","192.168.0.1","187.23.45.6","1120"],
              ["2017/09/16","交通","192.168.0.1","187.23.45.6","554"],
              ["2017/09/17","交通","192.168.0.1","187.23.45.6","1125"],
              ["2017/09/18","交通","192.168.0.1","187.23.45.6","557"],
    ]

    $('#logs').DataTable( {
            ordering: false,
            data: arr,
            columns: [
                { title: "时间" },
                { title: "数据类型" },
                { title: "泄漏源" },
                { title: "流向IP"},
                { title: "端口"},
            ],
            oLanguage : {
                    "sProcessing" : "正在加载中......",
                    "sLengthMenu" : "每页显示 _MENU_ 条记录",
                    "sZeroRecords" : "没有数据！",
                    "sEmptyTable" : "表中无数据存在！",
                    "sInfo" : "当前显示 _START_ 到 _END_ 条，共 _TOTAL_ 条记录",
                    "sInfoEmpty" : "显示0到0条记录",
                    "sInfoFiltered" : "数据表中共为 _MAX_ 条记录",
                    "sSearch" : "搜索",
                    "oPaginate" : {
                        "sFirst" : "首页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "末页"
                    }
                }
        } );
        */

  </script>


  <script type="text/javascript" language="javascript" class="init">
		$(document).ready(function() {
			$.ajax({
				type:"GET",
				url:"/gj_json/", //测试用,test_list
				dataType:"json",
				//data: {dat:dict},
				success:function(res){
					var heads = res.heads
					var columns = new Array()

					var head_tr = document.getElementById("origin_tr")
					var tr_inner_html = ""
					for(var i=0; i<heads.length; i++){
						columns.push({"data": heads[i]})
						tr_inner_html +=  "<th>" +  heads[i] + "</th>" + "\n"
					}
					head_tr.innerHTML = tr_inner_html
					// 注意这里可以直接用 ajax 但是不利于管理。
					$('#logs').DataTable({
						"data": res.data,
						"columns": columns,
					});
				}
			});

		});
	</script>
</html>